@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    outline: none; border:none;
}

*::selection{
    background:#F83292;
    color:#fff;
}

html {

    overflow-x: hidden;
}

body{
    background:#f9f9f9;
}

section{
    min-height: 100vh;
    padding:0 9%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.button{
    display: inline-block;
    margin-top: 2%;
    padding:2% 6%;
    border-radius: 55px;
    background:linear-gradient(90deg, #F83292, #814096);
    font-size: 18px;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transition: all .3s linear;
}

.button:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    color: #F83292;
    font-size: 40px;
    text-transform: uppercase;
    padding:15px;
    padding-bottom: 30px;
}

header{
    position: fixed;
    width:100%;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:1% 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo{
    font-size: 25px;
    color:#814096 ;
}

header .logo span{
    color:#F83292;
}

header .navbar a{
    font-size: 18px;
    margin-left: 15px;
    color:#814096;
}

header .navbar a:hover{
    color:#F83292;
}

header input{
    display: none;
}

header label{
    font-size: 25px;
    color:#814096;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(img/home-bg-img.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .image img{
    width:40vw;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);/* functions*/
    }
}

.home .content h3{
    font-size: 55px;
    color:#333;
    text-transform: uppercase;
}

.home .content h3 span{
    color:#F83292;
    text-transform: uppercase;
}

.home .content p{
    font-size: 19px;
    color:#666;
    padding:10px 0;
}

.features .card-container{
    display: flex;
    align-items: center;
    justify-content: center;


}

.features .card-container .content{

    background:#fff;
    border-radius: 20px;
    border:2px solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:20px;
    padding:3% 2%;
    border-radius: 5px;
    text-align: center;

}

.features .card-container .content img{
    height: 15%;
}

.features .card-container .content h3{
    font-size: 20px;
    color:#333;
    padding-top: 5%;

}

.features .card-container .content p{
    font-size: 15px;
    color:#666;
    padding: 2% 0;
}

.about{
    background:url(img/about-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 8%;
}

.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;

}


.about .about-container .image img{
    width:100%;
}

.about .about-container .content{
    flex:1 1 50%;
}

.about .about-container .content h3{
    font-size: 35px;
    color:#666;
}

.about .about-container .content p{
    font-size:15px;
    color:#666;
    padding:10px 0;
}

.subscribe{
    text-align: center;
    padding:35px 5px;
    background:url(img/subscribe-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.subscribe h3{
    color:#fff;
    font-size: 30px;
    text-transform: uppercase;
}

.subscribe p{
    color:#fff;
    font-size: 18px;
    margin:20px auto;
    width:60%;
}

.subscribe form{
    display: flex;
    max-width: 60%;
    border:2px solid #fff;
    padding:0.5%;
    border-radius: 5rem;
    margin:10px auto;


}

.subscribe form input[type="email"]{

    font-size: 18px;
    background:none;
    width:100%;
    color:#fff;
    text-transform: none;
    background:none;
    padding: 1%;
}

.subscribe form input[type="email"]::placeholder{
    color:#eee;
    text-transform: capitalize;
}

.subscribe form input[type="submit"]{
    background:#fff;
    width:35%;
    font-size: 18px;
    border-radius: 5rem;
    cursor: pointer;
    padding: 1%;
    color: #814096;
}
.subscribe form input[type="submit"]:hover{
    color:#F83292;
}

.review .card-container{
    display: flex;
    align-items: center;
    justify-content: center;


}

.review .card-container .content{
    background:#fff;
    margin:1rem;
    text-align: center;
    position: relative;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;

}


.review .card-container .content .user img{
    border-radius: 50%;
    object-fit: cover;
    height: 100px;
    width:100px;
    margin-top: 2rem;
}

.review .card-container .content .user h3{
    color:#F83292;
    font-size: 20px;
}

.review .card-container .content .user .stars i{
    color:#814096;
    font-size: 15px;
    padding:10px 0;
}

.review .card-container .content .comment{
    color:#666;
    font-size: 15px;
    padding:25px;
}

.pricing .card-container{
    display: flex;
    align-items: center;
    justify-content: center;



}

.pricing .card-container .content{

    margin:10px;
    padding:10px;
    background:#fff;
    border:2px solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: 5px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;

}

.pricing .card-container .content:nth-child(2),
.pricing .card-container .content:hover{
    border:2px solid #F83292;
}

.pricing .card-container .content .title{
    color:#814096;
    font-size: 25px;
    padding-top: 10px;
}

.pricing .card-container .content .price{
    font-size: 35px;
    color:#F83292;
    padding:10px 0;
}

.pricing .card-container .content .price span{
    font-size: 18px;
}

.pricing .card-container .content ul{
    padding:10px 0;
    list-style: none;
}

.pricing .card-container .content ul li{
    font-size: 15px;
    color:#666;
    padding:10px 0;
}

.pricing .card-container .content ul li .fa-check{
    color:lightgreen;
}

.pricing .card-container .content ul li .fa-times{
    color:tomato;
}


.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.contact .image{
    flex:1 1 50%;
}

.contact .image img{
    width:100%;
    padding:20px;
}

.contact form{
    flex:1 1 50%;
    padding:20px 30px;
    border:2px solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: 10px;
    background:#fff;
}

.contact form .heading{
    text-align: left;
    padding-bottom: 15px;
}

.contact form .inputArea{
    position: relative;
}

.contact form .inputArea input, .contact form .inputArea textarea{
    width:100%;
    background:none;
    color:#666;
    margin:15px 0;
    padding:15px 0;
    font-size: 15px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    text-transform: none;
}

.contact form .inputArea textarea{
    resize: none;
    height: 80px;
}

.contact form .inputArea label{
    position: absolute;
    top:15px; left:0;
    font-size: 15px;
    color:#814096;
    transition: .2s linear;
}



.footer{
    padding-top: 30px;
    background:url(img/footer-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .footer-container{
    display: flex;
    flex-wrap: wrap;
    padding-right: 2%;
    padding-left:2% ;
}

.footer .footer-container .content{
    flex:1 1 20px;
    margin:15px;
}

.footer .footer-container .content h3{
    font-size: 18px;
    padding:10px 0;
    color:#fff;
    text-decoration: underline;
    text-underline-offset: 15px;
}

.footer .footer-container .content p{
    font-size: 15px;
    padding:15px 0;
    color:#eee;
}

.footer .footer-container .content a{
    display: block;
    font-size: 18px;
    padding:10px 0;
    color:#eee;
}

.footer .footer-container .content a:hover{
    text-decoration: underline;
}

.footer .footer-container .content .info{
    display: flex;
    align-items: center;
}

.footer .footer-container .content .info i{
    margin:10px 0;
    margin-right: 10px;
    border-radius: 50%;
    background:#fff;
    color:#F83292;
    font-size: 15px;
    height:60px;
    width:60px;
    line-height: 65px;
    text-align: center;
}

.footer .end{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 5px;
    color:#fff;
    border-top: 2px solid #fff5;
    padding:20px 10px;
    text-align: center;
}














/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

}

@media (max-width:991px){

    section{
        padding:0 3%;
        padding-top: 50px;
        padding-bottom: 2rem;
    }

}

@media(max-width:1250px){

    .about .about-container{

        display: flex;
        flex-direction: column;
    }

}

@media (max-width:768px){

    header label{
        visibility: visible;
        opacity: 1;
    }

    header .navbar{
        position: absolute;
        text-align: center;
        top:100%; left: 0;
        width:100%;
        background:#fff;
        padding:1rem 2rem;
        border-top: 2px solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .navbar a{
        display: block;
        margin:15px 0;
        font-size: 18px;
    }

    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content:'\f00d';
    }

    .home{
        flex-flow: column-reverse;
    }

    .home .image img{
        width:100%;
    }

    .home .content h3{
        font-size: 35px;
    }

    .home .content p{
        font-size: 18px;
    }

    .heading {

        font-size: 30px;
    }

    .features .card-container{

        display: flex;
        flex-direction: column;
    }

    .about{
        background-position: right;
    }

    .about .about-container .content h3 {

        font-size: 25px;

    }

    .subscribe h3 {
        font-size: 25px;

    }
    .subscribe p{
        width:auto;
        font-size: 15px;
    }

    .review .card-container{

        display: flex;
        flex-direction: column;
    }

    .pricing .card-container {

        display: flex;
        flex-direction: column;
    }

    .contact{
        display: flex;
        flex-direction: column;
    }


}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .about .about-container .content .buttons a{
        width:100%;
        text-align: center;
    }

    .about .about-container .content .buttons a:last-child{
        margin: 1rem 0;
    }

}